[Unit]
Description=Hyprpaper Wallpaper Randomizer
Requires=xdg-desktop-autostart.target

[Service]
Type=oneshot
ExecStart=/home/%u/.config/hypr/scripts/wallpaper_randomizer.sh

[Install]
WantedBy=default.target
